html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, main, body, #root, #main-window {
  margin: 0;

  height: 100%;
  width: 100%;
}

#main-window {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
}

.side-menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 40px;
}